.container>.section.pokedex-pokemon-header:first-child {
    padding-top: 90px;
}
.container>.section:first-child, .container>.section.bounce_section {
    padding-top: 25px;
}
.section.overflow-visible {
    *zoom: 1;
    overflow: visible;
}
.pokedex-pokemon-header {
    background: #fff;
    padding: 0;
    position: relative;
    max-width: 1280px;
    width: 100%;
}
.section {
    padding: 1em 0;
}
.content-wrapper, .section {
    background: transparent url(https://www.pokemon.com/us/pokedex//img/chrome/content_bg.png) left top;
    background-size: 100% 1px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1024px;
    width: 100%;
}
.overflow-visible {
    overflow: visible;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
hoja de estilo de user-agent
section {
    display: block;
}
body {
    background: #424242 url(https://www.pokemon.com/us/pokedex//img/chrome/body_bg.png);
    font-family: "Flexo-Regular",arial,sans-serif;
    font-size: 16px;
    color: #fff;
    height: 100%;
}
body {
    line-height: 1;
}
.section.overflow-visible:before, .section.overflow-visible:after {
    content: "";
    display: table;
}
.section.overflow-visible:after {
    clear: both;
}
.section.overflow-visible:before, .section.overflow-visible:after {
    content: "";
    display: table;
}

/* Previous */
html.csstransitions .pokedex-pokemon-pagination a {
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.pokedex-pokemon-pagination {
    background-color: #fff;
    width: 100%;
}

.pokedex-pokemon-pagination a {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #a4a4a4;
    cursor: pointer;
    display: block;
    float: left;
    width: 50%;
}

/* Previous */

.pokedex-pokemon-pagination a.previous>div, .pokedex-pokemon-pagination a.next>div {
    float: left;
    padding: 1em 0 4em;
    width: 100%;
    max-width: 448px;
}

.pokedex-pokemon-pagination a.previous {
    border-right: 4px solid #fff;
}

html.csstransitions .pokedex-pokemon-pagination a {
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.pokedex-pokemon-pagination a.previous {
    border-right: 4px solid #fff;
}
.pokedex-pokemon-pagination a.previous, .pokedex-pokemon-pagination a.next {
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.pokedex-pokemon-pagination a span.icon, .pokedex-pokemon-pagination a span.arrow-right.button:after, .pokedex-pokemon-pagination a body.custom-form-elements label.radio-as-toggle-button input+span.arrow-right:after, body.custom-form-elements label.radio-as-toggle-button .pokedex-pokemon-pagination a input+span.arrow-right:after, .pokedex-pokemon-pagination a span.arrow-left.button:before, .pokedex-pokemon-pagination a body.custom-form-elements label.radio-as-toggle-button input+span.arrow-left:before, body.custom-form-elements label.radio-as-toggle-button .pokedex-pokemon-pagination a input+span.arrow-left:before {
    background-color: #fff;
    border-radius: 20px;
    color: #616161;
    float: left;
    font-size: 65%;
    font-weight: bold;
    height: 26px;
    line-height: 275%;
    margin: 0.5em 1.5em 0;
    text-align: center;
    width: 26px;
}

/* .icon, .arrow-right.button:after, body.custom-form-elements label.radio-as-toggle-button input+span.arrow-right:after, .simple-filters li.arrow-right:after, .arrow-left.button:before, body.custom-form-elements label.radio-as-toggle-button input+span.arrow-left:before, .simple-filters li.arrow-left:before, body.custom-form-elements select+i, .custom-select-wrapper .custom-select-menu label:before, .custom-select-wrapper .custom-select-menu label:after, .pokedex-pokemon-evolution>div .evolution-profile>li:after, .pokedex-pokemon-evolution.evolution-five>div .evolution-profile>li.first:before, .pokedex-pokemon-evolution.evolution-five>div .evolution-profile>li.middle:before, .pokedex-pokemon-evolution.evolution-six>div .evolution-profile>li.middle:before {
    font-family: "icons";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */

    @media (min-width: 961px) and (max-width: 1024px)
    body {
        font-size: 15px;
    }

    @media (min-width: 961px) and (max-width: 9999px)
.fluid .hidden-mobile {
    display: inherit !important;
}

    @media (min-width: 461px) and (max-width: 960px)
.pokedex-pokemon-pagination a span.pokemon-number, .pokedex-pokemon-pagination a span.pokemon-name {
    font-size: 125%;
    line-height: 175%;
}

    .icon_arrow_sm_left:before, .arrow-left.button:before, body.custom-form-elements label.radio-as-toggle-button input+span.arrow-left:before, .simple-filters li.arrow-left:before {
        content: "\f104";
    }

    .pokedex-pokemon-pagination a span.pokemon-number, .pokedex-pokemon-pagination a span.pokemon-name {
        font-family: "Flexo-Bold",arial,sans-serif;
        color: #fff;
        float: left;
        font-size: 150%;
        line-height: 162.5%;
        text-transform: none;
    }

    .pokedex-pokemon-pagination a span.pokemon-name {
        color: #616161;
        margin: 0 0.5em;
    }
    .pokedex-pokemon-pagination a span.pokemon-number, .pokedex-pokemon-pagination a span.pokemon-name {
        font-family: "Flexo-Bold",arial,sans-serif;
        color: #fff;
        float: left;
        font-size: 150%;
        line-height: 162.5%;
        text-transform: none;
    }

    /* Next */

    pokemon-pagination a.next {
        margin: 0;
    }

    .pokedex-pokemon-pagination a.next>div {
        float: left;
        margin-left: 0;
    }

    .pokedex-pokemon-pagination a.next>div span {
        float: right;
    }

    .icon_arrow_sm_right:before, .arrow-right.button:after, body.custom-form-elements label.radio-as-toggle-button input+span.arrow-right:after, .simple-filters li.arrow-right:after {
        content: "\f105";
    }

    .pokedex-pokemon-pagination a span.pokemon-name {
        color: #616161;
        margin: 0 0.5em;
    }

    /* Pagination title */

    .pokedex-pokemon-pagination-title {
        bottom: 0;
        float: left;
        margin-right: -100%;
        width: 58.0325%;
        margin-left: 20.2%;
        background-color: #fff;
        position: absolute;
        height: 51px;
    }

    .pokedex-pokemon-pagination-title:before {
        left: -75px;
    }

    /* .pokedex-pokemon-pagination-title:before, .pokedex-pokemon-pagination-title:after {
        background: transparent url(https://www.pokemon.com/us/pokedex/img/chrome/notches/notch-white-xxl.png) no-repeat 0 0;
        bottom: 0;
        content: " ";
        position: absolute;
        height: 52px;
        width: 75px;
    } */

    .pokedex-pokemon-pagination-title:after {
        background-position: right top;
        right: -75px;
    }

    /* .pokedex-pokemon-pagination-title:before, .pokedex-pokemon-pagination-title:after {
        background: transparent url(https://www.pokemon.com/us/pokedex/img/chrome/notches/notch-white-xxl.png) no-repeat 0 0;
        bottom: 0;
        content: " ";
        position: absolute;
        height: 52px;
        width: 75px;
    }
 */

 /* pokemon form */
 .pokedex-pokemon-form {
    overflow: visible;
    padding-bottom: 50px;
}

.content-wrapper, .section {
    background: transparent url(https://www.pokemon.com/us/pokedex/img/chrome/content_bg.png) left top;
    background-size: 100% 1px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1024px;
    width: 100%;
}

