/* -------------- General */
.App {
  max-width: 1280px;
  margin: auto
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 1;
  font-family: "Flexo-Regular",arial,sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}

section {
  display: block;
}

div {
  display: block;
}

label {
  float: left;
  font-size: 167.5%;
  text-transform: none;
  width: 100%;
  color: #fff;
}

/* -------------- Search */
.column-6 {
  float: left;
  margin-right: -100%;
  width: 41.96%;
}

.push-1 {
  margin-left: 7.2525%;
}

.push-7 {
  margin-left: 50.7825%;
}

.pokedex-filter-header {
  background: #313131;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}    

.filter-text-search {
  *zoom: 1;
  margin-top: 2em;
  position: relative;
}  

.content-block {
  margin: 2em 0 0.5em 0;
  float: left;
}  

.banner-green {
  /* -webkit-transition: background-color .1s linear;
  -ms-transition: background-color .1s linear;
  -moz-transition: background-color .1s linear;
  -o-transition: background-color .1s linear; */
  transition: background-color .1s linear;
  background-color: #4dad5b;
  padding-left: 2em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  float: left;
  width: 100%;
}  

.banner-green h2 {
  color: #fff;
}  

.banner h2 {
  font-size: 137.5%;
  line-height: 125%;
}  

.pokedex-filter-header .filter-text-search .twitter-typeahead {
  float: left;
  margin-right: -100%;
  width: 72.5425%;
  border: 3px solid #616161;
  clear: both;
  margin-top: 0.325em;
  background-color: #fff;
  border-radius: 5px;
  height: 2em
}  

.pokedex-filter-header .filter-text-search .twitter-typeahead #searchInput {
  background-color: transparent;
  border: none;
  color: #313131;
  margin: 0;
  width: 99%;
  height: 2.3em
}  

.pokedex-filter-header .filter-text-search #searchInput {
  float: left;
  margin-right: -100%;
  width: 72.5425%;
  border: 3px solid #616161;
  clear: both;
  color: #313131;
  margin-top: 0.325em;
  background-color: #fff;
  border-radius: 5px;
}  

.button-search {
  color: #fff;
  clear: none;
  background-color: #ee6b2f;
  font-family: "Roboto",arial,sans-serif;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  line-height: 125%;
  margin: 1.5625%;
  padding: 0.75em 1.25em 0.675em;
  vertical-align: middle;
  text-transform: none;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  box-sizing: border-box;
}

.pokedex-filter-header .filter-text-search .button-search {
  float: left;
  margin-right: -100%;
  width: 12.95%;
  margin-left: 79.8025%;
  background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/forms/input-search-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  clear: none;
  text-indent: -9999px;
  height: 48px;
  position: relative;
  top: 2px;
}

/* -------------- Grid */

/* -------------- Card */
